{% extends 'ConsultFrontendBundle:Layout:base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
<div class="jumbotron">  
   <div class="container">
      <h1>Онлайн консультант для вашего сайта!</h1>
      <p class="lead">WebConsult – онлайн консультант для сайта, с помощью которого ваши клиенты смогут получить консультацию в один клик в режиме реального времени. Очень простая установка скрипта!</p>
   </div>
</div>
{% endblock %}
